Flask==3.0.0
Flask-Login==0.6.3
pymongo==4.6.1
python-dotenv==1.0.0
werkzeug==3.0.1
gunicorn==21.2.0
psycopg2-binary==2.9.10
cloudinary==1.41.0
python-barcode[png]
razorpay==1.4.2
requests==2.31.0
setuptools==75.8.0
